<a href="https://colab.research.google.com/github/khoa2210/Hoc-Colab/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [2]:
import numpy as np
import pandas as pd
so = pd.Series(np.random.randint(100,size = 10))
so

0    96
1    61
2    10
3    26
4    71
5    83
6    65
7    32
8    94
9     6
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [15]:
dict = {'tên':'Khoa', 'tuổi': 19, 'công việc': 'sinh viên', 'học' : 'TTNT', 'Khoa': 'KHDL'}
mang = pd.Series(dict)
mang

tên               Khoa
tuổi                19
công việc    sinh viên
học               TTNT
Khoa              KHDL
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [11]:
so_id = []
for i in so.index:
    so_id.append(f'so thu {i}')
so2 = pd.Series(so.values, index=so_id)
so2

so thu 0    96
so thu 1    61
so thu 2    10
so thu 3    26
so thu 4    71
so thu 5    83
so thu 6    65
so thu 7    32
so thu 8    94
so thu 9     6
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [17]:
print(mang[4])

KHDL

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [18]:
print(so2['so thu 2'])

10

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [19]:
#Lấy các số thứ (0-6)
so2[[int(name[-1]) <6 for name in so2.index]]

so thu 0    96
so thu 1    61
so thu 2    10
so thu 3    26
so thu 4    71
so thu 5    83
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [20]:
so.index.name = 'STT'
so.name = 'Gia_tri'
so

STT
0    96
1    61
2    10
3    26
4    71
5    83
6    65
7    32
8    94
9     6
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [21]:
so_log = pd.Series([np.log(gt) for gt in so.values])
so_log.name = 'logarith'
so_log

0    4.564348
1    4.110874
2    2.302585
3    3.258097
4    4.262680
5    4.418841
6    4.174387
7    3.465736
8    4.543295
9    1.791759
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [22]:
so[so>15]

STT
0    96
1    61
3    26
4    71
5    83
6    65
7    32
8    94
Name: Gia_tri, dtype: int64